<% content_for :title do %>
    Crisis Cleanup - Roadmap
<% end %>

<% content_for :subheader do %>
<% end %>

<% content_for :main do %>
    <div id="main" class="alt">
      <div class="row">
        <div class="small-12 medium-12 large-12 columns">
        </div>
      </div>
    </div>
<% end %>

<% content_for :sidebar do %>
    <div id="sidebar">
    </div>
<% end %>
